@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/.ttf);
    font-weight: 400;
}
/* @font-face {
    font-family: "SFProText-Regular";
    src: url(../fonts/.ttf    );
    font-weight: 400;
}

@font-face {
    font-family: "SFProText-Light";
    src: url(../fonts/.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "SFProText-Medium";
    src: url(../fonts/.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "SFProText-SemiBold";
    src: url(../fonts/.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "SFProDisplay-Medium";
    src: url(../fonts/.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "SFProText-Bold";
    src: url(../fonts/.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "HelveticalNeueCyr-Roman";
    src: url(../fonts/.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "HelveticalNeueCyr-Roman";
    src: url(../fonts/.ttf);
    font-weight: 600;
} */